/**
 * Color overrides
 *
 * @package    BardCanvas
 * @subpackage MH Magazine Lite Template
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

/* Core colors */

body { background-color: black; color: white; }
#content_wrapper { color: black; background-color: white; }

h1 { color: #E64946; }
h2 { color: #E64946; }
h3 { color: #E64946; }

a h1 { color: #E64946; }
a h2 { color: #E64946; }
a h3 { color: #E64946; }

a:link,            .pseudo_link                            { color: black;   }
a:active, a:hover, .pseudo_link:active, .pseudo_link:hover { color: #E64946; }
a:visited,         .pseudo_link:visited                    { color: black;   }

h1 a,          h1 .pseudo_link,       h2 a,          h2 .pseudo_link,       h3 a,          h3 .pseudo_link       { color: black;   }
h1 a:hover,    h1 .pseudo_link:hover, h2 a:hover,    h2 .pseudo_link:hover, h3 a:hover,    h3 .pseudo_link:hover { color: #E64946; }
h1:link:hover, h1.pseudo_link:hover,  h2:link:hover, h2.pseudo_link:hover,  h3:link:hover, h3.pseudo_link:hover  { color: #E64946; }

a:hover h1,    .pseudo_link:hover h1, a:hover h1,    .pseudo_link:hover h2, a:hover h3,    .pseudo_link:hover h3 { color: #E64946; }

#header { color: black; background-color: white;   }
#footer { color: white; background-color: #2A2A2A; }
#footer a, #footer .pseudo_link { color: #E64946; }

#footer .footer_contents { color: #999999; border-top: 5px solid #999999; }

#header .menu                         { background-color: #2A2A2A; border-bottom: 5px solid #E64946; }
#header .main_menu_item               { color: white; }
#header .main_menu_item:link          { color: white; }
#header .main_menu_item:hover         { color: white; background-color: #E64946; }
#header .main_menu_item.current       { color: white; background-color: #E64946; }
#header .main_menu_item.current:hover { color: white; background-color: #E64946; }

#header .main_menu_item.highlighted               { color: yellow; }
#header .main_menu_item.highlighted:link          { color: yellow; }
#header .main_menu_item.highlighted:hover         { color: yellow; background-color: #E64946; }
#header .main_menu_item.highlighted.current       { color: yellow; background-color: #E64946; }
#header .main_menu_item.highlighted.current:hover { color: yellow; background-color: #E64946; }

#header .main_menu_item.alerted               { color: red;    background: yellow; }
#header .main_menu_item.alerted:link          { color: red; }
#header .main_menu_item.alerted:hover         { color: yellow; background-color: #E64946; }
#header .main_menu_item.alerted.current       { color: maroon; background: yellow; }
#header .main_menu_item.alerted.current:hover { color: yellow; background-color: #E64946; }

#header .main_menu_item.alerted       .fa.fa-border         { border-color: maroon; }
#header .main_menu_item.alerted:hover .fa.fa-border         { border-color: yellow;    }
#header .main_menu_item.alerted.current:hover .fa.fa-border { border-color: yellow; }

#header .main_menu_item.submenu_visible       { color: white; background: #2A2A2A; }
#header .main_menu_item.submenu_visible:hover { color: white; background: #2A2A2A; }

#main_menu_trigger.open                       { color: white; background: #2A2A2A; }

/* Dropdown menu */

.dropdown_menu                                           { color: white; background-color: #2A2A2A; }
.dropdown_menu .main_menu_item                           { color: white; }
.dropdown_menu .main_menu_item:link                      { color: white; }
.dropdown_menu .main_menu_item:hover                     { color: white;   background-color: #E64946; }
.dropdown_menu .main_menu_item.current                   { color: white;   background-color: #E64946; }
.dropdown_menu .main_menu_item.current:hover             { color: #E64946; background-color: #E64946; }
.dropdown_menu .main_menu_item.highlighted               { color: yellow;  background: transparent; }
.dropdown_menu .main_menu_item.highlighted:link          { color: yellow;  background: transparent; }
.dropdown_menu .main_menu_item.highlighted:hover         { color: yellow;  background-color: #E64946; }
.dropdown_menu .main_menu_item.highlighted.current       { color: yellow;  background-color: #E64946; }
.dropdown_menu .main_menu_item.highlighted.current:hover { color: #7EB2E5; background-color: #E64946; }

section > h1 { color: white; background-color: #E64946; border-color: #E64946; }
section > h2 { color: white; background-color: #E64946; border-color: #E64946; }
section > h3 { color: white; background-color: #E64946; border-color: #E64946; }

section > h1 a, section > h1 .pseudo_link, section > h1 .pseudo_link:hover { color: white; }
section > h2 a, section > h2 .pseudo_link, section > h2 .pseudo_link:hover { color: white; }
section > h3 a, section > h3 .pseudo_link, section > h3 .pseudo_link:hover { color: white; }

.info_handler.highlighted { color: white; background-color: #E64946; }

/* Core Admin colors */

#admin_menu { color: white; background-color: green; }

#admin_menu .admin_bar_title { color: whitesmoke; }

#admin_menu .item       { color: white; }
#admin_menu .item:hover { color: green; background-color: white; }

#admin_menu .item.current       { color: white;     background-color: darkgreen; }
#admin_menu .item.current:hover { color: darkgreen; background-color: white;   }

#admin_menu_trigger:hover { color: darkgreen; background-color: white;     }
#admin_menu_trigger.open  { color: white;     background-color: darkgreen; }

body.admin h1 { color: white; background-color: #E64946; border-color: #E64946; }
body.admin h2 { color: white; background-color: #E64946; border-color: #E64946; }
body.admin h3 { color: white; background-color: #E64946; border-color: #E64946; }

body.admin h1 a, body.admin h1 .pseudo_link { color: white; }
body.admin h2 a, body.admin h2 .pseudo_link { color: white; }
body.admin h3 a, body.admin h3 .pseudo_link { color: white; }

h1 a.framed_content, h1 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }
h2 a.framed_content, h2 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }
h3 a.framed_content, h3 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }

body.admin h1 a.framed_content, body.admin h1 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }
body.admin h2 a.framed_content, body.admin h2 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }
body.admin h3 a.framed_content, body.admin h3 .pseudo_link.framed_content { color: #E64946; text-decoration: none; }
